<%= form_with model: [ :admin, @item ], local: true do |f| %>
<diV class="container admin-item-edit">

  <h1>商品編集</h1>
<!--商品画像選択 -->


 <div class"image">
    <%= attachment_image_tag @item, :image, class: "img-square", size:"300x300" %>
    <%= f.attachment_field :image, placeholder: "商品画像" %><br>
 </div>
</div>

<!--商品登録 -->


  <div= class="row">
    
    <div class="field">
      <label ="name">商品名</label>
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <label class="introduction">商品説明</label>
      <%= f.text_area :introduction %>
    </div>
    
    <label class="genre">ジャンル</label>
        <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    <div class="field">
      <label class="price">税抜き価格</label>
      <%= f.text_field :price %>
    </div>
    
    <%= f.select :is_active, [['販売中', 'true'], ['販売停止中', 'false']] %>
    </div>
    
  <!-- 投稿機能　-->
    <div class="sbmit">
      <%= f.submit "変更を保存" %>
    </div>
   </div>
</div>
<% end %>