<div class="container">
  <div class="row">
    <h5 class="mb-5">ジャンル一覧・追加</h5>
  </div>

  <%= form_with model: [ :admin, @genre ], local: true do |f| %>
  <table>
    <tr class="row">
      <th class=mr-5>ジャンル名</th>
      <td class="mr-5">
        <%= f.text_field :name %>
      </td>
      <td class="sbmit">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </td>
    </tr>
  </table>
  <% end %>
    <table class="table">
      <tr>
        <th>ジャンル</th>
        <% @genres.each do |genre| %>
        <td><%= genre.name %>
        <%= link_to '編集する', edit_admin_genre_path(genre.id), class: "ml-5 btn btn-success" %>
        </td>
      </tr>
        <% end %>
    </table>
</div>