<div class='container'>
  <div class='row'>
    <div class='col'>
      <h3 class='table-secondary'>配送先登録/一覧</h3>
        <table class='table'>
          <%= form_with model:@address,local:true do |f| %>
            <tr class="form-postal_code row">
              <td>
                <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
              </td>
              <td>
                <%= f.text_field :postal_code %>
              </td>
            </tr>
            <tr class="form-address row">
              <td>
              	<%= f.label :address, "住所" %>
              </td>
              <td>
                <%= f.text_field :address %>
              </td>
            </tr>
            <tr class="form-name row">
              <td>
              	<%= f.label :name, "宛名" %>
              </td>
              <td>
                <%= f.text_field :name %>
              </td>
              <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
            </tr>
          <% end %>
        </table>
        <table class='table table-bordered' style="padding:10px">
    		  <thead>
            <tr class='table-secondary'>
              <th>郵便番号</th>
              <th>住所</th>
              <th>宛名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @addresses.each do |address| %>
              <tr>
                <td><%= address.postal_code %></td>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
                <td>
                  <%= link_to '編集する', edit_address_path(address), class: "ml-5 btn btn-success" %>
                  <%= link_to '削除する', address_path(address), method: :delete, data: { confirm: '本当に消しますか？' }, class: "ml-5 btn btn-danger"%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>