<%= flash[:error] %>


<div class="container">
  <div class="row">
    <h4 class="alert alert-light">ログイン</h4>
  </div>

  <div class="row ml-3">
    <h5 class="alert alert-light">会員の方はこちらからログイン</h5>
  </div>

  <%= form_with model: @customer, url: customer_session_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
  <table class="row field ml-5 pl-5">
    <tr>
      <td>
      <%= f.label :email, "メールアドレス", class: "mr-5" %>
      </td>
      <td>
        <%= f.email_field :email, :size=>"40", autofocus: true, autocomplete: "email", placeholder: "example@example.com" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :password, "パスワード" %>
      </td>
      <td>
        <%= f.password_field :password, :size=>"40", autocomplete: "current-password", class: "mt-3" %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.submit "ログイン", class: "mt-4 btn btn-primary" %>
      </td>
    </tr>
  </table>

  <div class="row ml-3 mt-5">
    <h5 class="alert alert-light">会員登録がお済みでない方</h5>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <%= render "customers/shared/links" %>
    </div>
  </div>
  <% end %>
</div>