<%= flash[:error] %>

<h2>ログイン</h2>
<div>
  <h3>会員の方はこちらからログイン</h3>
</div>

<%= form_with model: @customer, url: customer_session_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, :size=>"40", autofocus: true, autocomplete: "email", placeholder: "example@example.com" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, :size=>"40", autocomplete: "current-password" %>
  </div>


  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
<div>
  <h3>会員登録がお済みでない方</h3>
</div>

<%= render "customers/shared/links" %>
