<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
			<h3 class="title">注文情報入力</h3><br>

			<%= form_with model: @order, local: true do |f| %>
			<!--支払方法-->
		  <div>
		  <p style="font-weight:bold; text-indent:-2em;">支払い方法</p>
		  <%= radio_button_tag :payment, :クレジットカード %>
          <%= label_tag :payment, "クレジットカード", {value: :"クレジットカード"} %><br>
          <%= radio_button_tag :payment, :銀行振込 %>
          <%= label_tag :payment, "銀行振込", {value: :"銀行振込"} %><br>
          </div>

          <!--お届け-->
<div class="row mt-3">
          <strong class="red-border px-3">お届け先</strong>
        </div>


     <div class="row">

       <!--自分の住所-->
           <%= f.radio_botton(:select, "my_address") %><br>


       <!--登録先住所から選択-->
				<%= f.radio_button(:select, "addresses") %><br>
				<%= f.label :登録先住所から選択 %><br>
				<div style="text-indent:2em;">
					<%= f.collection_select :customer_id, Address.all, :id, :address %>
				</div>



				<!--お届け先-->
			<p style="font-weight:bold; text-indent:-2em;">お届け先</p>

				<!--ご自身の住所-->
				<%= f.radio_button(:selected_address, "my address", checked: true) %>
				<%= f.label :selected_address, "ご自身の住所", style:"display:inline-block" %>
				<div style="text-indent:2em;">
					<%= current_customer.address %>
				</div>

				<!--登録先住所から選択-->
				<%= f.radio_button(:selected_address, "shipping_address") %>
				<%= f.label :登録先住所から選択 %><br>
				<div style="text-indent:2em;">
					<%= f.collection_select :shipping, @addresses, :id, :address_detail %>
				</div>

				<!--新しいお届け先-->
				<%= f.radio_button(:selected_address, "new address") %>
				<%= f.label :新しいお届け先 %><br>

				<div style="text-indent:1em;">
					<%= f.label :郵便番号, style: "width: 100px;" %>
					<%= f.text_field :postal_number, style: "width: 200px;" %>
				</div>

				<div style="text-indent:1em;">
					<%= f.label :住所, style: "width: 100px;"%>
					<%= f.text_field :address, style: "width: 500px;" %>
				</div>

				<div style="text-indent:1em;">
					<%= f.label :宛名, style: "width: 100px;" %>
					<%= f.text_field :name, style: "width: 200px;" %>
				</div>

				<!--確認画面遷移ボタン-->
				<div class="text-center">
					<%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
				</div>












				<!--新しいお届け先-->
				<%= f.radio_button(:select_address, "new address") %>
				<%= f.label :新しいお届け先 %>

				<div style="text-indent:1em;">
					<%= f.label :郵便番号 %>
					<%= f.text_field :postal_code %>
				</div>

				<div style="text-indent:1em;">
					<%= f.label :住所 %>
					<%= f.text_field :address %>
				</div>

				<div style="text-indent:1em;">
					<%= f.label :宛名 %>
					<%= f.text_field :name %>
				</div>

				<!--確認画面遷移ボタン-->
				<div class="form-edit">
					<%= f.submit "確認画面へ進む", class: "btn btn-success" %>
				</div>
                </div>
			<% end %>
		</div>
	</div>
	</div>