<div class='container'>
	<div>
		<div>
			<h3 class='row'>注文情報入力</h3>

				<%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
					<!--支払方法-->
					<div class='row'>
						<p>支払い方法</p>
						<!--クレジットカード-->
						<p><%= f.collection_radio_buttons :payment_method, Order.payment_methods_i18n, :first, :last %></p>
					</div>

					<!--お届け-->
					<div class='row'>
						<p><strong class="red-border px-3">お届け先</strong></p>
					</div>

				<div>

					<!--ご自身の住所-->
					<p><%= f.radio_button(:selected_address, "my address", checked: true) %></p>
					<p><%= f.label :selected_address, "ご自身の住所", style:"display:inline-block" %></p>
					<div style="text-indent:2em;">
						<p><%= current_customer.address %></p>
					</div>

					<!--登録先住所から選択-->
					<p><%= f.radio_button(:select, "addresses") %></p>
					<p><%= f.label :登録先住所から選択 %></p>
					<div>
						<p><%= f.collection_select :customer_id, Address.all, :id, :address %></p>
					</div>

					<!--新しいお届け先-->
					<p><%= f.radio_button(:selected_address, "new address") %></p>
					<p><%= f.label :新しいお届け先 %></p>

					<div>
						<p><%= f.label :郵便番号, style: "width: 100px;" %></p>
						<p><%= f.text_field :postal_number, style: "width: 200px;" %></p>
					</div>

					<div>
						<p><%= f.label :住所, style: "width: 100px;"%></p>
						<p><%= f.text_field :address, style: "width: 500px;" %></p>
					</div>

					<div>
						<p><%= f.label :宛名, style: "width: 100px;" %></p>
						<p><%= f.text_field :name, style: "width: 200px;" %></p>
					</div>

					<!--確認画面遷移ボタン-->
					<div class='row'>
						<p><%= f.submit "確認画面へ進む", class: "btn btn-success" %></p>
					</div>
				</div>
				<% end %>
		</div>
	</div>
</div>

